@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.wallpaper{
    background-image: url(images/GRADIENT.jpg);
    background-size: cover;
    /* height: 100vh; */
    filter: brightness(101%);
}
.flex{
    display: flex;
  justify-content: center;
    gap: 100px;
   
}
.breakfast-section, .lunch-section, .dinner-section{
    padding: 40px;
    background-color: rgb(248, 248, 248);
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 7px 10px;
    max-width: 22%;
}

img{
    border-radius: 3px;
}
.text{
    background: transparent;
   
}
button{
    background-color: green;
    padding: 10px 40px;
    color: aliceblue;
    border-width: thin;
    cursor: pointer;
}
button:hover{
    background-color: brown;
    color: aliceblue;
}
.main-text{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 300;
    font-style: normal;

}
.text1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    font-style: normal;
    
} 
.words{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 17px;
}
@media only screen and (max-width: 800px) {

    .flex{
        flex-direction: column;
        align-items: center;
    }
    .breakfast-section, .lunch-section, .dinner-section  {
        width: auto;
        max-width: 100%;
        
    }
    
}