.division{
    display: flex;
    justify-content: center;
    font-size: x-large;
    gap: 100px;
    padding-top:5%;
}
    
    @media only screen and (max-width: 800px) {
        .division{
            display: block;
            text-align: center;
           
        }
    
    }

